name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build-lint-test:
    runs-on: ubuntu-latest
    name: Build, Lint, and Test
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          lfs: false

      - uses: pnpm/action-setup@v4
        with:
          version: 10.27.0
          run_install: true
          cache: true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint code
        run: pnpm lint

      - name: Run prettier
        run: pnpm prettier --check "**/*.{ts,js,json,css,html}"

      - name: Run tests
        run: pnpm test -- --watch=false --browsers=ChromeHeadlessNoSandbox
